{% extends 'MyAppUserBundle:Conducteur:conduc_home.html.twig' %}

{% block body_content %}







    <section class="main-content">

        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-sub-title textcenter">
                        <h2>Liste des Trajets</h2>
                        <div class="line"></div>

                    </div><!-- end .page-sub-title -->

                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="page-content">

                        <div class="rides-list">
                            <!-- debut .search -->
                            <div class="search-widget sidebar-widget">

                                <h4 class="widget-title">Search</h4>

                                <div class="widget-content">
                                    <form class="idealforms search-form adaptive" autocomplete="off" novalidate="" method="post" action="{{ path('my_app_user_rechercherTrajet')}}">
                                        <div class="field idealforms-field idealforms-field-email">
                                            <input type="text" placeholder="Search" name="search">
                                        </div>
                                        <div class="field buttons">
                                            <button class="btn btn-lg blue-color" type="submit">Search</button>
                                        </div>
                                    </form>
                                </div><!-- end .widget-content -->

                            </div><!-- end .search -->


                            <!--for -->
                            {%  for trajet in Trajet %}

                                <form action="{{ path('my_app_user_supprimerTrajet', { 'id': trajet.id }) }}" method="post"  novalidate autocomplete="off" class="idealforms add-ride">

                                    <article class="ride-box clearfix">

                                        <div class="ride-content">
                                            <h3><a href="#">{{ trajet.villeDepart }} to {{ trajet.villeArrive }}</a></h3>ride by <a href="#">{{ trajet.user }}</a>
                                        </div>

                                        <ul class="ride-meta">

                                            <li class="ride-date">
                                                Date Trajet <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                    <i class="fa fa-calendar"></i>
                                                    {{ trajet.dateTrajet|date('Y-m-d H:i:s') }}

                                                </a>
                                            </li><!-- end .ride-date -->
                                            <li class="ride-date">
                                                Date annonce <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                    <i class="fa fa-calendar"></i>
                                                    {{ trajet.dateAnnonce|date('Y-m-d H:i:s') }}

                                                </a>
                                            </li><!-- end .annonce-date -->

                                            <li class="ride-people">
                                                <a href="#" class="tooltip-link" data-original-title="Number of seats" data-toggle="tooltip">
                                                    <i class="fa fa-user"></i>
                                                    {{ trajet.nombrePlace }}
                                                </a>
                                            </li><!-- end .ride-people -->

                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-file"></i>
                                                    Read more
                                                </a>
                                            </li>

                                        </ul><!-- end .ride-meta -->
                                        <button type="submit" class="btn btn-lg red-color">Delete</button>
                                    </article><!-- end .ride-box -->
                                </form>
                            {%  endfor %}
                            <!--endfor -->


                            <div class="clearfix"></div>

                            <div class="post-pagination pagination-margin clearfix">

                                <div class="next pull-right">
                                    <a href="#">
                                        <div class="navigation">
                                            <h3>{{ knp_pagination_render(Trajet) }}</h3>
                                        </div>
                                    </a>
                                </div>




                            </div><!-- end .post-pagination -->

                            <div id="map-canvas" style="width:500px; height:380px;">

                                {% include "MyAppUserBundle:Trajet:map.html.twig" %}
                                <input id="lat" type="text" />
                                <input id="lng" type="text" />
                            </div>
                        </div><!-- end .events-list -->

                    </div><!-- end .page-content -->
                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->

            </div><!-- end .row -->
        </div><!-- end .container -->


    </section><!-- end .main-content -->
{% endblock body_content %}


