{% extends 'MyAppUserBundle:Default:index.html.twig' %}
{% block nav %}
    <div class="col-md-8 col-sm-8 col-xs-12">

        <nav id="nav" class="main-navigation">

            <ul class="navigation">
                <li>
                    <a href="{{ path('conducteur_home') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('my_app_user_listTrajetConducteur') }}">Rides</a>
                </li>
                <li>
                    <a href="{{ path('Post_details_page') }}">See Posts</a>
                </li>


                <li>
                    <a href="{{ path('my_app_user_ajoutTrajet') }}">Ajouter Trajet</a>
                </li>
                <li>
                    <a href="{{ path('conducteur_event_affichage_home') }}">Events</a>
                </li>
                <li>
                    <a href="{{ path('actualite_index') }}">Blog</a>
                </li>
                <li>
                    <a href="{{ path('feedback_newfeed') }}">Feedback</a>
                </li>
                <li>
                    <a href="{{ path('fos_message_inbox') }}">Chat</a>
                </li>
            </ul>

        </nav><!-- end .main-navigation -->

    </div><!-- end .col-md-8 -->

{% endblock %}